.muted
{
    margin: 0 auto;
    height: 700px;
    width: 1200px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 5px solid darkgrey;

    background-image: url("../images/Mute_404.png");
    background-size: cover;
}

.stoppedText
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stoppedText p
{
    margin: 20px;
    border-right: 3px solid red;
    font-family: 'VT323', monospace;
    font-size: 62px;
    font-weight: bold;
    color: white;

    white-space: nowrap;
    overflow: hidden;
}
.stoppedText p:nth-child(1)
{
    width: 1100px;
    -webkit-animation: type 7s steps(96, end);
    animation:
            type 7s steps(96, end),
            blink .60s step-end infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.stoppedText p:nth-child(2)
{
    width: 500px;
    opacity: 0;
    -webkit-animation: type2 6s steps(40, end);
    animation:
            type2 6s steps(40, end),
            blink .60s step-end infinite;
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes type {
    0% {
        width: 0;
    }
    99.9% {
        border-right: 5px solid red;
    }
    100% {
        border: none;
    }
}

@-webkit-keyframes type {
    0% {
        width: 0;
    }
    99.9% {
        border-right: 5px solid red;
    }
    100% {
        border: none;
    }
}

@keyframes type2 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
        border-right: 5px solid red;
    }
    100% {
        opacity: 1;
        border: none;
    }
}

@-webkit-keyframes type2 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
        border-right: 5px solid red;
    }
    100% {
        opacity: 1;
        border: none;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
@-webkit-keyframes blink {
    50% {
        border-color: transparent;
    }
}
