.playButton
{
    width: 130px;
    height: 80px;

    font-size: 40px;
    font-weight: normal;
    font-family: 'VT323', monospace;
    text-transform: uppercase;
    color: orange;

    border: 2px solid darkgrey;
    border-radius: 10px;
    background: #323232;
}

.playButton:hover
{
    border: 2px solid orange;
}